{{ $Tz := .Tz }} 
{{ $MAIN := . }} 
<tr>
    {{ if .Event.Component.Props.DTSTART }}
    <td scope="row">
        {{ range $e := .Event.Component.Props.DTSTART }}
                {{ ($e.DateTime $Tz).Format "02" }}
    </td>
    <td>
        {{ ($e.DateTime $Tz).Format "15:04" }}
            {{ end }}
    </td>
    {{ end }}

    <td>
        {{ if .Event.Component.Props.DTEND }}
            {{ range $e := .Event.Component.Props.DTEND }}
                {{ ($e.DateTime $Tz).Format "15:04" }}
            {{ end }}
        {{ end }}
    </td>
    <td>
        {{ if .Event.Component.Props.LOCATION }}
            {{ range $e := .Event.Component.Props.LOCATION}}
                {{ .Value }}
            {{ end }}
        {{ else }}
            {{ if .Event.Props.CATEGORIES }}
                {{ (index .Event.Props.CATEGORIES 0).Value }}
            {{ else }}
                {{ .Name }}
            {{ end }}
        {{ end }}
    </td>
    <td style="overflow: hidden;">
            {{ if .Event.Component.Props.SUMMARY }}
                {{ range $e := .Event.Component.Props.SUMMARY }}
                    {{ call $MAIN.GetText .}}
                {{ end }}
            {{ end }}
        </td>

    <td >
        {{ if .Event.Component.Props.DESCRIPTION }}
            {{ range $e := .Event.Component.Props.DESCRIPTION }}
                {{ call $MAIN.GetText .}}
            {{ end }}
        {{ end }}
    </td>
</tr>