{{ define "events" }}
{{ $MAIN := . }}
{{ $Tz := .Tz }}
{{ range $key, $value := .Reports }}
{{ range $events := $value }}
{{ range $e := $events.Data.Events }}
<tr>
    {{ $START := (index .Component.Props.DTSTART 0)}}
    <td>
        {{ ($START.DateTime $Tz).Format "02.01.06" }}
    </td>
    <td>
        {{ if .Component.Props.LOCATION }}
        {{ range $e := .Component.Props.LOCATION}}
        {{ call $MAIN.GetText . }}
        {{ end }}
        {{ else }}
        {{ if .Props.CATEGORIES }}
        {{ (index .Props.CATEGORIES 0).Value }}
        {{ else }}
        {{ $key}}
        {{ end }}
        {{ end }}
    </td>
    <td>
        {{ if .Component.Props.SUMMARY }}
        {{ range $e := .Component.Props.SUMMARY }}
        {{ call $MAIN.GetText .}}
        {{ end }}
        {{ end }}
    </td>


    {{ $UID := (index .Component.Props.UID 0).Value }}
    {{ range $k, $v := $MAIN.Works}}
    <td style="width: 2rem;">
        <input type="checkbox" class="btn-check" id="{{ $k }} {{ $UID }}" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{ $k }} {{ $UID }}">{{ $k }}</label><br>
    </td>
    {{ end }}

    <td >
        {{ ($START.DateTime $Tz).Format "15:04" }}
    </td>

    <td >
        {{ if .Component.Props.DTEND }}
        {{ range $e := .Component.Props.DTEND }}
        {{ ($e.DateTime $Tz).Format "15:04" }}
        {{ end }}
        {{ end }}
    </td>
    <td style="width: 50rem;">
        {{ if .Component.Props.DESCRIPTION }}
        {{ range $e := .Component.Props.DESCRIPTION }}
        <details>
            <summary></summary>
            {{ call $MAIN.GetText .}}
        </details>
        {{ end }}
        {{ end }}
    </td>
</tr>
{{ end }}
{{ end }}
{{ end }}
<script src="static/js/tableSort.js"></script>
{{ end }}
