{{ define "content" }}<table id="sortableTable" class="table table-primary table-hover table-bordered">
    <thead>
        <tr class="table-secondary" style=" position: sticky; top: 0;">
            <th scope="col" class="sortable">дата</th>
            <th scope="col" class="sortable">место</th>
            <th scope="col" class="sortable">заголовок</th>
            <th>фото</th>
            <th>виде</th>
            <th>звук</th>
            <th>синх</th>
            <th>тран</th>
            <th>вкс</th>
            <th>тв</th>
            <th>нач.</th>
            <th>кон.</th>
            <th>детали</th>
        </tr>
    </thead>
    {{ template "events" .}}
</table>{{ end }}